@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  /* background-color: #fcfcfc; */
  background-color: #D6E4E5;
  /* background-color: #D6E4E5; */
}

/* @media (max-width: 768px) {
  .auto-slider{
    display: none;
  }

}

@media (max-width: 600px){
   
} */